/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  position: sticky;
  top: 0;
}

:root {
  --page-1-color: steelblue;
  --page-2-color: tan;
  --page-3-color: teal;
  --page-4-color: slateblue;
  --animate-speed: 2s;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background-color: var(--page-1-color);
  color: #ffffff;
  /* display: table; */
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#page-wrap {
  position: relative;
  z-index: 2;
  /* display: table-cell; */
}

#page-1 {
  height: 100vh;
  background-size: cover;
  overflow: auto;
  /* display: table-row; */
}

#page-2 {
  background: var(--page-2-color);
  /* display: table-row; */
}
#page-3 {
  background: var(--page-3-color);
  /* display: table-row; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/* #page-4 {
  background: var(--page-4-color);
} */

.btn {
  cursor: pointer;
}

h1 {
  /* color: #34495e; */
  color: #ffffff;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: #7f8c8d;
}

.js-form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.news-link {
  margin: 0.5rem 0.5rem;
}

.prevent-image-check-label {
  color: #fff;
}

.button-anchor {
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  /* text-transform: uppercase; */
  padding: 0.1rem 0.6rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin: 0 0 0.2rem 0.2rem;
  background: #009cff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

/* label underline focus color */
input:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
  color: white !important;
}

@media (max-width: 650px) {
  .btn-page-anchor {
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
  }
}
