/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  position: sticky;
  top: 0;
}

:root {
  --page-1-color: steelblue;
  --page-2-color: tan;
  --page-3-color: teal;
  --page-4-color: slateblue;
  --animate-speed: 2s;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background-color: #2c3e50;
  color: #ffffff;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#page-wrap {
  position: relative;
  z-index: 2;
}

#page-1 {
  height: 100vh;
  background-size: cover;
  /* background-size: 100% 100%; */
}
#page-2 {
  background: var(--page-2-color);
}
#page-3 {
  background: var(--page-3-color);
}
#page-4 {
  background: var(--page-4-color);
}

.todo-link {
  padding: 0.2rem 0.4rem;
  margin-right: 0.2rem;
  /* margin-top: 0.5rem; */
  font-weight: bold;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  background: #fff;
}

.todo-link:hover {
  background: #26a69a;
  color: #f4f4f4;
}

.btn {
  cursor: pointer;
}

h1 {
  /* color: #34495e; */
  color: #ffffff;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: #7f8c8d;
}

.js-form,
.greetings {
  display: none;
}

.js-todoForm {
  display: flex;
}

.add-anchor {
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.add-anchor:hover {
  color: #fff;
}

.showing {
  display: block;
}

.news-link {
  margin: 0.5rem 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.7s linear;
} */

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

/* label underline focus color */
input:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
  color: white !important;
}
