.weather {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  /* justify-content: center; */
  justify-content: space-between;
  font-size: 1rem;
}

.weather .day {
  min-width: 12rem;
  padding: 1rem;
  margin: 0 auto;
}

.weather .day .day-display {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.weather .day .time-weather {
  text-align: left;
}

@media (max-width: 700px) {
  .weather {
    flex-direction: column;
  }
  #page-1 {
    height: 180vh;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .weather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #page-1 {
    height: 150vh;
  }
}
